@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  background-color: rgba(248, 248, 238, 255);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
